<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MusicMapper">
<resultMap id="musicMap"
 type="com.example.app.domain.Musicinfo " >
 <id column="id" property="id" />
 <result column="id" property="id" />
 <result column="title" property="title" />
 <result column="artist" property="artist" />
 <result column="song_key" property="songkey" />
 <result column="bpm" property="bpm" />
 <result column="memo" property="memo" />
</resultMap>

<select id="selectMusic" resultMap="musicMap">
SELECT*FROM music;

</select>

</mapper>